<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="pedidos.component.css">
</head>
<body>
    <div class="wrapper">
        <div class="sidebar">
            <h2>PPAI</h2>
            <ul>
                <a></a>
                <a class="btnMenuLateral" href="#">Pedidos</a>
                <a class="btnMenuLateral"href="#">Reservas</a>
                <a class="btnMenuLateral"href="#">Sectores</a>
                <a class="btnMenuLateral"href="#">Plano de Mesas</a>
                <a class="btnMenuLateral"href="#">Personal</a>
                <a class="btnMenuLateral"href="#">Carta y Menu</a>
                <a class="btnMenuLateral"href="#">Reportes y Estadisticas</a>
            </ul> 
            <div class="contacto">
                <a href="#">Contactanos</a>
            </div>
        </div>
        <div class="main_content">
            <table>
                <tr>
                    <td>
                        <button class="btnPedidos">Registrar Pedido de Mesa</button>
                    </td>
                    <td>
                        <button class="btnPedidos">Finalizar Preparacion de Pedido</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class="btnPedidos">Modificar Pedido</button>
                    </td>
                    <td>
                        <button class="btnPedidos">Consultar Pedidos</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>

<router-outlet></router-outlet>