table > tbody > tr > td{
  text-align: center;
}

table > tbody > tr > td > button{
  background-color: rgb(157, 180, 184);
  border-radius: .5rem;
  margin-left: 10rem;
  margin-top: 12rem;
  width: 40%;
  height: 4rem;
}