<div class="container" *ngIf="mostrarTabla">
    <div class="table">
       <table class="table-hover table-inverse table-responsive" >
           <thead class="thead-inverse">
               <tr>
                    <th>Mesa</th>
                    <th>Menu</th>
                    <th>Cantidad</th>
                    <th>Tiempo de Espera</th>
                    <th>Seleccion</th>
               </tr>
            </thead>
            <tbody>
                <tr *ngFor="let fila of mostrarDatosDetallePedidoEnPreparacion(); let i = index">
                    <td>{{ fila?.Mesa }}</td>
                    <td>{{ fila?.Nom }}</td>
                    <td>{{ fila?.Cant }}</td>
                    <td>{{ fila?.Date }} minutos</td>
                    <td><input type="checkbox" (change)="onCheckChange(i)" ></td>
                </tr>
            </tbody>
       </table>
    </div>
    <div class="botones">
        <button [routerLink]="['/menuPedidos']" class="boton"> Cancelar </button>
        <button (click)="solicitarConfirmacionElaboracionProducto()" class="boton"> Siguiente</button>
    </div>
</div>            
<div *ngIf="!mostrarTabla && !mostrarMensaje">
    <label class="textoConfirmacion">Seguro que quiere confirmar los detalles:</label>
        <ul class="detalles" *ngFor="let fila of detallesAConfirmar()">
            <li>{{fila.Mesa}}</li>
            <li>{{fila.Nom}}</li>
            <li>Cantidad: {{fila.Cant}}</li>
        </ul>
    <div class="botones">
        <button (click)="cancelarConfirmacion()" class="boton">Cancelar</button>
        <button (click)="tomarConfirmarElaboracion()" class="boton"> Siguiente</button>
    </div>
</div>
<div *ngIf="mostrarMensaje" class="detalles">
    <label class="textoConfirmacion">Pedidos marcados como Finalizados y Notificados correctamente.</label>
    <button class="boton botonConfirmar" [routerLink]="['/menuPedidos']" >Confirmar</button>
</div>