<div class="container">
    <div class="table">
       <table class="table-hover table-inverse table-responsive" *ngIf="mostrarTabla">
           <thead class="thead-inverse">
               <tr>
                    <th>Mesa</th>
                    <th>Menu</th>
                    <th>Cantidad</th>
                    <th>Tiempo de Espera</th>
                    <th>Seleccion</th>
               </tr>
               </thead>
               <tbody>
                   <tr *ngFor="let fila of detalles; let i = index">
                       <td>{{ fila?.Mesa }}</td>
                       <td>{{ fila?.Nom }}</td>
                       <td>{{ fila?.Cant }}</td>
                       <td>{{ fila?.Date }} minutos</td>
                       <td><input type="checkbox" (change)="onCheckChange(i)" ></td>
                   </tr>
               </tbody>
       </table>
    </div>
    <div class="botones">
        <button [routerLink]="['/menuPedidos']" class="boton"> Cancelar </button>
        <button (click)="finalizar()" class="boton"> Siguiente</button>
    </div>
</div>