body {
  overflow-x: hidden;
}
#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}
#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  text-align: center;
  font-size: 2rem;
  height: 5rem;
}
#sidebar-wrapper .list-group {
  width: 15rem;
}
#sidebar-wrapper .contacto {
  position: fixed;
  text-align: center;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  width: 13rem;
  bottom: 0%;
}
#sidebar-wrapper .contacto img{
  width: 13rem;
}
#page-content-wrapper {
  min-width: 100vw;
}
#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}
@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }
  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
#page-content-wrapper > nav > .cursoAño{
    margin-left: 5rem;
    margin-right: 5rem;
    text-align: center;
    color: rgb(34, 34, 34);
}

#page-content-wrapper > nav > .fechaHora{
  padding-right: 15%;
  text-align: center;
}

.btn {
  background-color: #1A5276;
  color: white; 
  text-shadow: black 0.1em 0.1em 0.2em;
}

